<div id="category" class="container-fluid">
  <div class="row">
    <div class="col-xs-18 col-sm-4 col-md-4">
      <img src="/images/category/facial-service.png" alt="facial services">
      <h3>Facial Services</h3>
      <div class="horizontal_divider"></div>
      <p>Our Facial Services are a one-of-a-kind experience that melts away tension, eases muscle sti ness, and increases circulation maintaining the beauty of your skin.</p>
    </div>
    <div class="col-xs-18 col-sm-4 col-md-4">
      <img src="/images/category/permanet-makeup.png" alt="permanent makeup">
      <h3>Permanent Makeup</h3>
      <div class="horizontal_divider"></div>
      <p>Our permanent makeup technicians take the utmost care to protect the integrity of the skin.  e permanent makeup help enhances your natural features.</p>
    </div>
    <div class="col-xs-18 col-sm-4 col-md-4">
      <img src="/images/category/treatment.png" alt="spa treatments">
      <h3>Spa Treatments</h3>
      <div class="horizontal_divider"></div>
      <p>Our spa treatments are the best approach and treatment for your skin care needs. We o er techniques, products and treatment strategies for a vast range of skin conditions.</p>
    </div>
  </div>
</div>
