<div id="certificate" class="container-fluid">
  <img id="certificate_img" src="/images/certificates/certificate.png" alt="gift certificate">

  <h2>Gift Certificates   <img id="gift_box" src="/images/certificates/gift_box.png" alt="gift icon"></h2>

  <p>LiWei gift certificates are the quickest and easiest way to show an appreciation. Most of all it is safe and convenient.  The happy recipient will surely enjoy a day of wellness.</p>

  <a href="/contact">
    <button type="button" class="btn btn-default">PURCHASE HERE</button>
  </a>
</div>
