<div id="footer">
  <div class="container-fluid">
    <div class="row">

      <div id="address" class="col-xs-18 col-sm-4 col-md-4">
        <h4>ADDRESS</h4>
        <div class="center">
          <div id="address_content" class="row">
            <img src="/images/icons/address.png" alt="address"><p><a href="https://www.google.com/maps/dir//LIWEI+BEAUTY,+90+Bowery+%23405,+New+York,+NY+10013/@40.717511,-73.99786,17z/data=!4m15!1m6!3m5!1s0x89c259881d003827:0x2f1786e63b9151de!2sLIWEI+BEAUTY!8m2!3d40.717511!4d-73.995666!4m7!1m0!1m5!1m1!1s0x89c259881d003827:0x2f1786e63b9151de!2m2!1d-73.995666!2d40.717511" target="_blank">90 Bowery Street suite 405 <br> New York, NY 10013</a></p>
          </div>
        </div>
        <div class="center">
          <div id="address_content" class="row">
            <img src="/images/icons/phone.png" alt="phone">
            <p>
              <a id="tel" href="tel:917-639-3900">
                (917) 639 - 3900
              </a>
            </p>
          </div>
        </div>
        <div class="center">
          <div id="address_content" class="row">
            <img src="/images/icons/email.png" alt="email">
            <p>
              <a id="email" href="mailto:liweibeauty88@gmail.com">
                liweibeauty88@gmail.com
              </a>
            </p>
          </div>
        </div>

      </div>

      <div id="hours" class="col-xs-18 col-sm-4 col-md-4">
        <h4>HOURS</h4>

        <p>Mon - Friday <span class="pull-right">9:30am - 7:00pm</span></p>
        <p>Saturday <span class="pull-right">9:30am - 7:00pm</span></p>
        <p>Sunday <span class="pull-right">9:30am - 7:00pm</span></p>
        <br>
        <p>@ Li Wei Beauty Int'l Group 2017</p>
      </div>

      <div id="membership" class="col-xs-18 col-sm-4 col-md-4">
        <h4>MEMBERSHIP</h4>
        <!-- <form action="">
          <div class="form-group">
            <label id="email" for="email">Email address</label>
            <input type="email" class="form-control" id="emailInput" placeholder="user@gmail.com">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form> -->

        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="//liweibeauty.us13.list-manage.com/subscribe/post?u=83bf6344a226e0bb1b8185e46&amp;id=9aa78bfb0a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll" class="form-group">
              <label id="email" for="mce-EMAIL">Email address</label>
              <input id="input" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="user@gmail.com" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_83bf6344a226e0bb1b8185e46_9aa78bfb0a" tabindex="-1" value="">
              </div>
              <div class="clear">
                <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">
              </div>
            </div>
          </form>
        </div>
        <!--End mc_embed_signup-->

      </div>


    </div>
  </div>
</div>
