<div id="nav_bar">

  <div class="container-fluid">

    <div class="row pull-right">
      <div id="top-bar" class="col-xs-18 col-sm-12 col-md-12">

        <a id="social-medias" href="https://www.facebook.com/LIWEI-Beauty-687687844651740/" target="_blank">
          <img id="facebook" src="/images/social_medias/social-media-clear_facebook.png" alt="">
        </a>
        <a id="social-medias" href="https://www.instagram.com/liweibeauty/" target="_blank">
          <img id="instagram" src="/images/social_medias/social-media-clear_instagram.png" alt="">
        </a>
        <a id="social-medias" href="https://www.yelp.com/biz/liwei-beauty-new-york" target="_blank">
          <img id="yelp" src="/images/social_medias/social-media-clear_yelp.png" alt="">
        </a>
        <a href="tel:917-639-3900">
          <button type="button" class="btn btn-default">call us today: (917) 639 - 3900</button>
        </a>

      </div>

    </div>

  </div>

  <!-- Affix navbar starts here -->
  <nav class="navbar navbar" data-spy="affix" data-offset-top="197">
    <div class="container">

      <div class="navbar-header">
        <a class="navbar-brand-mobile" href="/">
          <img id="logo" src="/images/logo/logo.png" alt="">
        </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- <a class="navbar-brand" href="/">Li Wei Beauty Spa</a> -->
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation"><a href="/services">Services</a></li>
        </ul>
        <a class="navbar-brand" href="/">
          <img id="logo" src="/images/logo/logo.png" alt="">
        </a>
        <ul class="nav navbar-nav navbar-right">
          <li role="presentation"><a href="/specials">Specials</a></li>
          <li role="presentation"><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Affix navbar ends here -->


  <!-- Fixed navbar starts here -->
  <!-- <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Company Name</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation"><a href="/">Link 1</a></li>
          <li role="presentation"><a href="/">Link 2</a></li>
        </ul>
      </div>
    </div>
  </nav> -->
<!-- Fixed navbar ends here -->

</div>
