<div id="video">

  <!-- <div class="container text header-info">
      <div class="row">
          <div class="col-sm-6">
              <h1>Heading</h1>
              <h2>Sub Heading</h2>
          </div>
      </div>
  </div> -->
  <video autoplay loop muted playsinline id="video-background" >
    <source src="images/video/liwei.mp4" type="video/mp4">
  </video>

  <!-- <div class="container text text-2">
      <div class="row">
          <div class="col-sm-6">
              <h1>Heading</h1>
              <h2>Sub Heading</h2>
          </div>
      </div>
  </div> -->

</div>
