// import stylings
@import "global";

// contact landing page
#contact{
  padding-bottom: 50px;

  .header{
    height: 120px;
    width: 100%;
    background-color: $light_main_background_color;
    color: $white_font_color;
  }
  h1{
    font-size: 3em;
    font-weight: bold;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 0px;
  }
  h3{
    font-size: 1.2em;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 20px;
  }
  h1, h3 {
    text-align: center;
  }

  .container-fluid{
    padding-top: 50px;
    padding-bottom: 50px;

    #google_map{
      width: 100%;
      height: auto;
      padding-bottom: 25px;
    }

    #mc_embed_signup{
      #labels{
        width: 100%;
      }
    }

    #form{
      padding-top: 25px;
    }

    #textarea{
      width: 100%;
    }

    #promo_img{
      width: 100%;
      height: auto;
      padding-bottom: 25px;
    }

    #address{
      img{
        width: 25px;
        height: auto;
        margin: 10px;
      }

      #address_content{
        display: inline-block;
        display: -webkit-inline-box;
        padding-left: 25px;

        p{
          margin: 0px !important;
          margin-top: 10px !important;
        }

        #email{
          color: $maroon_red_font_color;
        }
      }
    }

    #hours{
      border-left-color: $white_font_color;
      border-left-width: thin;
      border-left-style: solid;
      p{
        width: 200px;
      }
    }

  }

}


/* Mobile & Tablet @media imports - starts */
// iPhone 4 & 4s starts here
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  #contact{
    .container-fluid{
      #google_map{
        height: 350px;
      }
    }
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait){

}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape){

}
// iPhone 4 & 4s ends here

// iPhone 5 & 5S starts here
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2){
  #contact{
    .container-fluid{
      #google_map{
        height: 350px;
      }
    }
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

}
// iPhone 5 & 5S ends here

// iPhone 6 & 6S starts here
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  #contact{
    .container-fluid{
      #google_map{
        height: 350px;
      }
    }
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

}
// iPhone 6 & 6S ends here

// iPhone 6plus starts here
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  #contact{
    .container-fluid{
      #google_map{
        height: 350px;
      }
    }
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {

}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {

}
// iPhone 6plus ends here

// iPad mini starts here
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  #contact{
    .container-fluid{
      #google_map{
        height: 350px;
      }
    }
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {

}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {

}
// iPad mini ends here

// iPad starts here
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #contact{
    .container-fluid{
      #google_map{
        height: 350px;
      }
    }
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

}
// iPad ends here

// Tablets - iPad Pro starts here
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
  #contact{
    .container-fluid{
      #google_map{
        height: 350px;
      }
    }
  }
}
// Tablets - iPad Pro ends here

// Nexus 6P starts here
@media only screen and (min-device-width: 412px) and (max-device-width: 732px) and (-webkit-min-device-pixel-ratio: 3) {
  #contact{
    .container-fluid{
      #google_map{
        height: 300px;
      }
    }
  }
}
@media only screen and (min-device-width: 412px) and (max-device-width: 732px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {

}
@media only screen and (min-device-width: 412px) and (max-device-width: 732px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {

}
// Nexus 6P ends here

/* Mobile & Tablet @media imports - ends */
