<% layout('main') -%>

<div id="contact">
  <div class="header">
    <h1>CONTACT</h1>
    <h3>COME BY AND MAKE AN APPOINTMENT WITH US</h3>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div id="contact" class="col-xs-18 col-sm-7 col-md-7">
        <img id="promo_img" src="/images/services/bikini.jpg" alt="bikini">

        <form id="form">
          <div class="form-group">
            <label for="name">Your Name</label>
            <input type="text" class="form-control" id="name" placeholder="">
          </div>
          <div class="form-group">
            <label for="name">Your Email</label>
            <input type="email" class="form-control" id="email" placeholder="">
          </div>
          <div class="form-group">
            <label for="name">Subject</label>
            <input type="text" class="form-control" id="subject" placeholder="">
          </div>
          <div class="form-group">
            <label for="name">Subject</label>
            <textarea id="textarea" name="name" rows="4"></textarea>
          </div>
          <button type="submit" class="btn btn-default">SEND</button>
        </form>


      </div>
      <div id="address" class="col-xs-18 col-sm-5 col-md-5">
        <h3>CONTACT US</h3>
        <p>To schedule an appointment please visit our spa location in New York City or call our direct number listed below.</p>

        <div class="center">
          <div id="address_content" class="row">
            <img src="/images/icons/address_dark.png" alt="address"><p><a href="https://www.google.com/maps/dir//LIWEI+BEAUTY,+90+Bowery+%23405,+New+York,+NY+10013/@40.717511,-73.99786,17z/data=!4m15!1m6!3m5!1s0x89c259881d003827:0x2f1786e63b9151de!2sLIWEI+BEAUTY!8m2!3d40.717511!4d-73.995666!4m7!1m0!1m5!1m1!1s0x89c259881d003827:0x2f1786e63b9151de!2m2!1d-73.995666!2d40.717511" target="_blank">90 Bowery Street suite 405 <br> New York, NY 10013</a></p>
          </div>
        </div>
        <div class="center">
          <div id="address_content" class="row">
            <img src="/images/icons/phone_dark.png" alt="phone">
            <p>
              <a id="tel" href="tel:917-639-3900">
                (917) 639 - 3900
              </a>
            </p>
          </div>
        </div>
        <div class="center">
          <div id="address_content" class="row">
            <img src="/images/icons/email_dark.png" alt="email">
            <p>
              <a id="email" href="mailto:liweibeauty88@gmail.com">
                liweibeauty88@gmail.com
              </a>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
