<% layout('main') -%>

<div id="index">

  <!-- Carousel Partials -->

  <!-- Carousel Partials -->
  <%- include ../partials/video %>

  <!-- Category Partials -->
  <%- include ../partials/category %>

  <!-- Menus Partials -->
  <%- include ../partials/menus %>

  <!-- Certificate Partials -->
  <%- include ../partials/certificate %>

</div>
