<% layout('main') -%>

<div id="index">

  <!-- Carousel Partials -->
  <%- include ../partials/carousel %>

  <!-- Category Partials -->
  <%- include ../partials/category %>

  <!-- Menus Partials -->
  <%- include ../partials/menus %>

</div>
