<% layout('main') -%>

<div id="specials">
  <div class="header">
    <h1>SPECIALS</h1>
    <h3>TAKE ADVANTAGE OF OUR SPECIAL DEALS FOR THIS MONTH</h3>
  </div>
  <div class="container">
  </div>
</div>
