<% layout('main') -%>

<div id="specials">
  <div class="header">
    <h1>SPECIALS</h1>
    <h3>TAKE ADVANTAGE OF OUR SPECIAL DEALS FOR THIS MONTH</h3>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-18 col-sm-7 col-md-7">
        <h3>THE SUMMER IS HERE AND WE ARE OFFERING A ENJOY THE SUN STUDENT PROMO!!</h3>
        <P>This promotion is for student only.</P>
        <img id="promo_img" src="/images/services/bikini.jpg" alt="bikini">
        <h4>GM COLLIN REBORN FACIAL ONLY $39</h4>
        <div>
          <p>Conditions</p>
          <ol>
            <li>Must present a valid student ID</li>
            <li>By appointments only</li>
            <li>Mention the web promo</li>
            <li>Promo may end without notice</li>
          </ol>
          <p>So, why wait??? Book your appointment today and call us @ <a href="tel:917-639-3900">(917)639-3900</a></p>

        </div>

      </div>
      <div id="address" class="col-xs-18 col-sm-5 col-md-5">
        <h3>CONTACT US</h3>
        <p>To schedule an appointment please visit our spa location in New York City or call our direct number listed below.</p>

        <div class="center">
          <div id="address_content" class="row">
            <img src="/images/icons/address_dark.png" alt="address"><p><a href="https://www.google.com/maps/dir//LIWEI+BEAUTY,+90+Bowery+%23405,+New+York,+NY+10013/@40.717511,-73.99786,17z/data=!4m15!1m6!3m5!1s0x89c259881d003827:0x2f1786e63b9151de!2sLIWEI+BEAUTY!8m2!3d40.717511!4d-73.995666!4m7!1m0!1m5!1m1!1s0x89c259881d003827:0x2f1786e63b9151de!2m2!1d-73.995666!2d40.717511" target="_blank">90 Bowery Street suite 405 <br> New York, NY 10013</a></p>
          </div>
        </div>
        <div class="center">
          <div id="address_content" class="row">
            <img src="/images/icons/phone_dark.png" alt="phone">
            <p>
              <a id="tel" href="tel:917-639-3900">
                (917) 639 - 3900
              </a>
            </p>
          </div>
        </div>
        <div class="center">
          <div id="address_content" class="row">
            <img src="/images/icons/email_dark.png" alt="email">
            <p>
              <a id="email" href="mailto:liweibeauty88@gmail.com">
                liweibeauty88@gmail.com
              </a>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
