@import "variables";

// Main basic stylings
body {
  font-family: 'minion-pro', serif !important;
  color: $main_font_color;

  .btn{
    transition-duration: 1s;
    background-color: $main_button_color;
    color: $white_font_color;
    border-color: $transparent_background_color;
  }
  .btn:hover{
    background-color: $black_grey_background_color;
    color: $white_font_color;
    border-color: $transparent_background_color;
  }
  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
  }
  a:hover{
    cursor: pointer;
  }
}
