@import "variables";

// Main basic stylings
body {
  font-family: 'minion-pro', serif !important;
  color: $main_font_color;

  .btn{
    background-color: $main_button_color;
    color: $white_font_color;
  }
  .btn:hover{
    background-color: $black_grey_background_color;
    color: $white_font_color;
  }
}
